[submodule "ums-backend"]
	path = ums-backend
	url = git@github.com:ifnul/ums-backend.git
[submodule "ums-admission-frontend"]
	path = ums-admission-frontend
	url = git@github.com:ifnul/ums-admission-frontend.git
[submodule "ums-edbo"]
	path = ums-edbo
	url = git@github.com:ifnul/ums-edbo.git
[submodule "ums-tools"]
	path = ums-tools
	url = git@github.com:ifnul/ums-tools.git
